<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <h1>Sign In</h1>

    <%= form_for(:session, url: login_path, html: { class: 'form-horizontal' }) do |f| %>

      <div class="form-group">
        <%= f.label :email, for: :email, class: 'col-xs-3 control-label' %>
        <div class="col-xs-9">
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, for: :password, class: 'col-xs-3 control-label' %>
        <div class="col-xs-9">
          <%= f.text_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
          <%= f.submit "Sign in", class: 'btn btn-primary' %> or
          <%= link_to '<span class="glyphicon glyphicon-plus"></span> Sign Up'.html_safe, new_user_path, class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>
  </div>
</div>